[submodule "chronos_upstream"]
	path = chronos_upstream
	url = https://github.com/Alibaba-NLP/CHRONOS.git
[submodule "news_tls_upstream"]
	path = news_tls_upstream
	url = https://github.com/complementizer/news-tls.git
